* {
    margin:0;
  padding: 0;
  box-sizing: border-box;
}

#login {
  display: flex;
  flex-direction: column;

  height: 60vh;
  width: 25vw;
  border: 2px solid rgb(172, 18, 18);
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;

  margin-left: auto;
  margin-right: auto;
  background: rgb(155, 150, 150);
  z-index: 5;
}

#login::before{
content:"";
background:url(https://images.unsplash.com/photo-1554493752-e4543263886c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80) no-repeat center center/cover;
height:100vh;
position:absolute;
top:0;
left:0;
right:0;
z-index: -5;
}

.loginForm{
    display:flex;
    flex-direction: column;
    margin-left: auto;
  margin-right: auto;
}

.loginInpt{
    display:block;
    border:none !important;
    background:azure !important;
    color:rgb(4, 124, 124);
    border-radius:6px;
    padding:10px;
    font-size:1.2rem;
    margin-left: auto;
    margin-bottom:20px;
  margin-right: auto;
    
    /* direction: rtl; */

  
}
.loginInpt:focus{
    color:rgb(25, 25, 105);
    outline:none;
}

:focus::placeholder{
color:transparent !important;
}

.loginBtn{
    display:block;
    color:rgb(128, 71, 3);
    background:rgb(194, 190, 190) !important;
    font-size:1.2rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(48, 81, 151);
    padding:2px 10px;
    border-radius:6px;
    margin-top:15px;
    margin-bottom: 10px;
}

.loginTxt{
    display:flex;
    flex-direction: column;
    margin-top: 30px;
}

.txt{
    display:block;
    color:rgb(14, 5, 94);
    font-size:1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    /* float: left; */
    margin-top:10px;
    /* margin-bottom:20px; */
    /* border:1px solid red; */
    text-align:left;

    
}

.links{
    text-decoration: none;
}

.loginBtn2{
    display:block;
    color:rgb(245, 22, 7);
    background:rgb(173, 171, 171) !important;
    font-size:1.2rem;
    border: 1px solid rgb(7, 55, 158);
    padding:2px 10px;
    border-radius:6px;
    margin-top:20px;
}

.login-message{
  display:block;
  border: 1px solid red;
}